{{ import('css','article.css','ext.widgets.views') }}

<div class='article-widget'>
    {% if article.title %}
        <div class='article-title'>{{ article.title|raw }}</div>
    {% endif %}
    <div class='article-text'>{{ article.text|raw }}</div>
</div>