.content-block-widget {
    _background: rgba(0,255,0,0.5);
}
.content-block-title {
    _background: rgba(255,0,0,0.2);
    overflow: hidden;
    padding-bottom: 1px;        /* Чтобы влезло подчеркивание */
    margin-bottom: 7px;
}
.content-block-title * {
    font-size: 14px;
    line-height: 19px;
}
.content-block-text {
    _background: rgba(255,255,0,0.2);
}