{{ import('css','contentBlock.css','ext.widgets.views') }}

<div class='content-block-widget'>
    {% if showTitle and contentBlock.title %}
        <div class='content-block-title'>{{ contentBlock.title|raw }}</div>
    {% endif %}
    <div class='content-block-text'>{{ contentBlock.text|raw }}</div>
</div>