{% block importBlock %}
    {{ import('css','footer.css','ext.widgets.css') }}
{% endblock %}

<div class='footer-widget'>
    <div class="c-align">Муниципальное казенное учреждение<br>
        «Многофункциональный центр предоставления государственных и муниципальных услуг<br>
        муниципального образования «город Екатеринбург»
    </div>
</div>
