{% block importBlock %}
    {{ import('css','socialButtons.css','ext.widgets.css') }}
{% endblock %}

<div class='social-buttons-widget'>
    <div class='row'>
        <a class='facebook' href='http://facebook.com/sdelano_nammi' target='_blank'>
            Facebook.com
        </a>
    </div>
    <div class='row'>
        <a class='vkontakte' href='http://vk.com/sdelano_nammi' target='_blank'>
            Vk.com
        </a>
    </div>
    <div class='row'>
        <a class='instagram' href='http://instagram.com/explore/tags/sdelano_nammi/' target='_blank'>
            Instagram.com
        </a>
    </div>
    <div class='row'>
        <a class='pinterest' href='http://pinterest.com/sdelano_nammi' target='_blank'>
            Pinterest.com
        </a>
    </div>
</div>
