{% block importBlock %}
    {{ import('css','subscribe.css','ext.widgets.css') }}
{% endblock %}

<div class='subscribe-widget'>
    <div class='title'>{{ t('app', 'Подписаться на наши новости:') }}</div>
    <div class='input'>
        <input placeholder='{{ t('app', 'Введите ваш e-mail') }}'>
        <button>{{ t('app', 'Да!') }}</button>
    </div>
</div>
