[submodule "lib/yii"]
	path = lib/yii
	url = git://github.com/yiisoft/yii.git
[submodule "lib/CurlHelper"]
	path = lib/CurlHelper
	url = git://github.com/mediasite/CurlHelper.git
[submodule "lib/ImageHelper"]
	path = lib/ImageHelper
	url = git://github.com/mediasite/ImageHelper.git
[submodule "lib/ar-relation-behavior"]
	path = lib/ar-relation-behavior
	url = git://github.com/m8rge/activerecord-relation-behavior.git
[submodule "lib/twig"]
	path = lib/twig
	url = git://github.com/fabpot/Twig.git
[submodule "protected/modules/damask"]
	path = protected/modules/damask
	url = git@bitbucket.org:darkair/yii-module-for-damask.git
[submodule "lib/datetimepicker"]
	path = lib/datetimepicker
	url = git@github.com:xdan/datetimepicker.git
