.carousel-widget {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 980px;
  margin-left: -44px;
}
.carousel-widget .arrow {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 88px;
  height: 88px;
  display: inline-block;
}
.carousel-widget .arrow.left {
  left: 22px;
  background: url(../../img/carousel/carousel-l.png) left center no-repeat;
}
.carousel-widget .arrow.right {
  right: 22px;
  background: url(../../img/carousel/carousel-r.png) right center no-repeat;
}
.carousel-widget .images-cont {
  position: relative;
  z-index: 1;
}
.carousel-widget .images-cont .image {
  float: left;
}
