.footer-widget {
  width: 2096px;
  left: 50%;
  margin-left: -1048px;
  position: relative;
}
.footer-widget .common-container {
  height: inherit;
}
.footer-widget .line1 {
  height: 308px;
  min-height: 308px;
  background-color: #eeeae1;
}
.footer-widget .line1 .leftcol {
  margin-top: 44px;
  padding-right: 44px;
  height: 220px;
  border-right: 1px solid #ccc5b5;
  position: relative;
}
.footer-widget .line1 .rightcol {
  margin-top: 44px;
  padding-left: 44px;
  height: 220px;
}
.footer-widget .line1 table.footer-menu-block {
  width: 100%;
}
.footer-widget .line1 table.footer-menu-block .footer-menu-1 {
  width: 310px;
}
.footer-widget .line1 .subscribe-block {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.footer-widget .line2 {
  height: 88px;
  min-height: 88px;
  background-color: #ccc5b5;
}
.footer-widget .line2 .copyright {
  font-family: 'FTYVarogeSaroNoestNCV', Helvetica, Arial, sans-serif;
  line-height: 88px;
}
.footer-widget .line2 .backtotop {
  line-height: 88px;
  text-align: right;
}
.footer-widget .line2 .backtotop a:hover {
  color: #8c8585;
}
.footer-widget .line2 .backtotop .arrow {
  display: inline-block;
  position: relative;
  bottom: 1px;
  font-size: 112%;
}
