.header-widget .inner-header {
  padding: 15px 0;
}
.header-widget .inner-header a {
  border: 0;
}
.header-widget .inner-header .phones {
  color: #dc6655;
  font: 1.5em 'PT Sans Bold', arial, sans-serif;
}
.header-widget .inner-header .worktime {
  color: #4d3b3b;
}
.header-widget .inner-header .worktime > h4 {
  text-transform: uppercase;
  font: 0.87em 'PT Sans Bold', arial, sans-serif;
}
.header-widget .inner-header .worktime > div .week-days {
  text-transform: lowercase;
  font: 0.78em 'PT Sans Bold', arial, sans-serif;
}
.header-widget .inner-header .worktime > div > time {
  font: 1.4em 'PT Sans Bold', arial, sans-serif;
  color: #dc6655;
}
.header-widget .tbl {
  display: table;
  width: 100%;
}
.header-widget .tr {
  display: table-row;
}
.header-widget .td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.header-widget .r-align {
  text-align: right;
}
.header-widget .l-align {
  text-align: left;
}
.header-widget .c-align {
  text-align: center;
}
.header-widget .v-align {
  vertical-align: baseline;
}
.header-widget .v-t-align {
  vertical-align: top;
}
.header-widget .slogan {
  display: block;
  margin-top: 5px;
  margin-right: 104px;
  /*width: 150px;*/
  font-size: 0.73em;
  color: #dc6655;
  text-align: right;
  line-height: 1;
}
.header-widget .float-l {
  float: left;
}
.header-widget .float-r {
  float: right;
}
