.language-widget a {
  text-transform: uppercase;
}
.language-widget li {
  padding-left: 25px;
  background: url(../../img/sep-r.gif) 8px 15px no-repeat;
}
.language-widget li:nth-child(1) {
  background: transparent;
}
