.main-menu-widget {
  line-height: 22px;
  height: 22px;
  width: 100%;
  text-align: center;
}
.main-menu-widget ul {
  margin-top: -1px;
}
.main-menu-widget li {
  padding-left: 22px;
  margin-top: 1px;
  background: url(../../img/sep-r.gif) 6.5px 25px no-repeat;
}
.main-menu-widget li:nth-child(1) {
  background: transparent;
}
