.news-page {
  /*    @bottomPadding: 32px;

    .item {
        @dateHeight: 38px;
        @itemHeight: 125px;

        td {
            vertical-align: top;
            padding-bottom: @bottomPadding;
            min-height: @itemHeight;
            height: @itemHeight;
        }

        .image {
            padding-left: @bigPadding;
            padding-top: @dateHeight;
        }
        .textBlock {
            .date {
                .font(PF, regular);
                color: @colorTextLight;
                height: @dateHeight;
                padding-top: 15px;
            }
            .title {
                .font(PF, medium);
                .font-size(18);
                color: @colorTitle;
                margin-top: -4px;
                & * {
                    color: @colorTitle;
                }
                a {
                    .link();
                }
            }
            .text {
                padding-top: 11px;
            }
            .date, .title, .text {
                padding-right: @bigPadding;
                padding-left: @bigPadding;
            }
        }
    }

    .moreBtn {
        .border-radius(2);
        padding: 2px @smallPadding 0px @smallPadding;
        min-width: 150px;
        height: 26px;
        margin-left: @bigPadding;
        margin-top: @bigPadding;
        cursor: pointer;
        background: rgba(0,0,0,0.07);
        border: 1px solid rgba(0,0,0,0.12);
        display: inline-block;

        &:hover {
            background: rgba(0,0,0,0.03);
            border: 1px solid rgba(0,0,0,0.06);
        }

        .text {
        }
        .loader {
            display: none;
            width: 100%;
            height: 100%;
            background: url(../../img/ajax-loader.gif) center center no-repeat;
        }
    }

    .bottomGap {
        height: @footerPaddingTop;
        min-height: @footerPaddingTop;
    }*/
}
