// Колонки
//@mainCol1:              225px;
//@mainCol2:              382px;
//@mainCol3:              359px;
//@mainCol:               @mainCol1 + @mainCol2 + @mainCol3;  // 966

@minSiteW:              980px;

// Основные отступы
//@smallPadding:          11px;
//@middlePadding:         18px;
@bigPadding:            22px;

//@paragraphPadding:      19px;       // По размеру основного 12 или 13 шрифта 


// Шапка, футер
@headerH:               44px;
@footerH:               100px;
//@footerPaddingTop:      92px;
//@footerSeparatorColor:  #a6adb4;

// Заголовок
//@mainTitleH:            120px;
//@pageTitleH:            49px;
//@pageTitleFontSize:     32;

// Цвета
@devRedBg:              rgba(255,0,0,0.2);
@devGreenBg:            rgba(0,255,0,0.2);
@devBlueBg:             rgba(0,0,255,0.2);
@devMagentaBg:          rgba(255,0,255,0.2);
@devGreyBg:             rgba(0,0,0,0.05);

@mainBg:                #fff;

@colorText:             #3f3f3f;
@colorTextLight:        #6f6f6f;
@colorRed:              #d8172e;        // цвет надписи Red в redsphere
@colorGrey:             #ccc5b5;
@colorLight:            #eeeae1;

//@colorTitle:            #719e3d;
//@colorTitleGrey:        #2b2b2b;        // #767676
//@colorTitleLightGrey:   #929da0;

// Цвета ссылок
@colorLink:             #2f2f2f;
@colorLinkHover:        #5f5f5f;
@colorLinkRed:          #d8172e;
@colorLinkHoverRed:     #ff515b;

@colorSeparatorLine:    #dcdcdc;

// -------------------------------

@import '../less_include/fonts.less';           // Fonts
@import '../less_include/links.less';           // Links

// ------------------------------------------------------

/* Главная разметка */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    .font(OpenSans);
}
body, table {
    .font-size(16);
    color: @colorText;
    background-color: @mainBg;
}
// iPad
@media screen
and (min-width : 768px) 
and (max-width : 980px) {
}
// Desktop
@media screen
and (max-width: 768px) {
}
// iPhone, другие мобилки
@media screen
and (max-width : 667px) {
    body, table {
        //.font-size(19);
    }
}



*:focus {
    outline: none;
}
body > .page {
    min-height: 100%;
    height: 100%;

    // заставляем футер прижаться к низу или сразу после контента и выставляем ширину
    width: 100%;
    display: table;

    & > .wrap {
        padding-bottom: @footerH;
    }
}

a {
    &, &:visited, &:link {
        text-decoration: none;
//        border-bottom: 1px solid #f4c0c6;
        color: @colorLinkRed;
    }
    &:hover {
        text-decoration: none;
//        border-bottom: 1px solid #fabddb;
        color: @colorLinkHoverRed !important;
    }
    &.active {
        text-decoration: none;
        border-bottom: none;
        color: @colorText !important;
    }
}
a.grey {
    &, &:visited, &:link {
        text-decoration: none;
//        border-bottom: 1px solid @colorLink;
        color: @colorLink;
    }
    &:hover {
        text-decoration: none;
//        border-bottom: 1px solid @colorLinkHover;
        color: @colorLinkHover !important;
    }
}



p {
    margin: 0px;
    padding: 0px;
}

h1 {
    .font-size(24);
    .font(OpenSans, semibold);
    padding: 0px;
    margin: 0px;

    .red {
        color: @colorRed;
    }
}

/* Общий контейнер */
.common-container {
    _background-color: @devRedBg;

    position:       relative;
    width:          100%;
    padding:        0;
    margin-right:   auto;
    margin-left:    auto;
    //overflow:       hidden;     // Отключаем скроллеры, чтобы они не создавали лишних отступов на мобильных устройствах

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }

    .body {
        width: 100%;
        margin: 0 auto;
        min-width: @minSiteW;     // Отключаем, походу не нужно сейчас
    }
    @media screen
    and (max-width : 980px) {       // iPad
        .body {
            min-width: inherit;
        }
    }
}

// Колонка
.col() {
    //outline: 1px dotted #808080;
    
    width: auto;
    min-width: 0;
    float: left;
    height: inherit;
    min-height: 1px;
}
.col(@w) {
    //outline: 1px dotted #808080;
    
    width: @w;
    min-width: @w;
    float: left;
    height: inherit;
    min-height: 1px;
}

// Градиенты
.gradient(vertical, @colorUp, @colorDown) {
    background: -webkit-linear-gradient(@colorUp, @colorDown);  /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@colorUp, @colorDown);       /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@colorUp, @colorDown);     /* For Firefox 3.6 to 15 */
    background: linear-gradient(@colorUp, @colorDown);          /* Standard syntax */
}

// Бордюры
.border-radius(@r) {
    -moz-border-radius:     @r;
    -webkit-border-radius:  @r;
    border-radius:          @r;
}
.border-radius(@topleft, @topright, @bottomright, @bottomleft) {
    -moz-border-radius-topleft:         @topleft;
    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;

    -webkit-border-top-left-radius:     @topleft;
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;

    border-top-left-radius:             @topleft;
    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
}

// Тень
.shadow(@offsX, @offsY, @blur, @alpha:0.3) {
    box-shadow:         @offsX @offsY @blur rgba(0,0,0,@alpha);
   -moz-box-shadow:     @offsX @offsY @blur rgba(0,0,0,@alpha);
   -webkit-box-shadow:  @offsX @offsY @blur rgba(0,0,0,@alpha);
}
.shadow-inner(@offsX, @offsY, @blur, @alpha0:.3) {
    box-shadow:         inset @offsX @offsY @blur rgba(0,0,0,@alpha);
   -moz-box-shadow:     inset @offsX @offsY @blur rgba(0,0,0,@alpha);
   -webkit-box-shadow:  inset @offsX @offsY @blur rgba(0,0,0,@alpha);
}

// Разделитель
.separate-line() {
    background: #cacaca;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
}
.separator {
    .separate-line();
    width: 100%;
}


.head {
    @logoW: 150px;
}

.footer {
    height:     @footerH;
    min-height: @footerH;
    margin-top: -@footerH - 1;

    .inner {    
        position: relative;
        width: 100%;
        min-width: 1260px;
        background-color: #4d3b3b;
        padding: 20px 0;
        font: 0.87em/1.5em 'PT Sans', arial, sans-serif;
        color: #f2c19d;
    }
}
