@import (reference) '../../../views/less/custom';

.header-widget {
    .inner-header {
        padding: 15px 0;
        
        a {
            border: 0;
        }
        .phones {
            color: #dc6655;
            font: 1.5em 'PT Sans Bold', arial, sans-serif;
        }
        .worktime {
            color: #4d3b3b;
        
            & > h4 {
                text-transform: uppercase;
                font: 0.87em 'PT Sans Bold', arial, sans-serif;
            }
            & > div .week-days {
                text-transform: lowercase;
                font: 0.78em 'PT Sans Bold', arial, sans-serif;
            }
            & > div > time {
                font: 1.4em 'PT Sans Bold', arial, sans-serif;
                color: #dc6655;
            }
        }
    }

    .tbl {
        display: table;
        width: 100%;
    }
    .tr {
        display: table-row;
    }
    .td {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .r-align {text-align: right;}
    .l-align {text-align: left;}
    .c-align {text-align: center;}
    .v-align {vertical-align: baseline;}
    .v-t-align {vertical-align: top;}

    .slogan {
        display: block;
        margin-top: 5px;
        margin-right: 104px;
        /*width: 150px;*/
        font-size: 0.73em;
        color: #dc6655;
        text-align: right;
        line-height: 1;
    }

    .float-l {float: left;}
    .float-r {float: right;}
}