<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />

    {{ void(App.clientScript.registerCssFile(this.assetsUrl~'/css/admin.css')) }}

    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>
</head>

<body>
<div id="ajaxLoader">&nbsp;</div>
<script type="text/javascript">
    $(document).ready(function() {
        var ajaxInProgress = false;

        $(document).ajaxStart(function() {
            ajaxInProgress = true;
            setTimeout(function() {
                if (ajaxInProgress)
                    $('#ajaxLoader').css('left',$(document).width()/2+'px').fadeIn(300).animate({
                        left:'+=400'
                    },{
                        'duration' : 10000,
                        'easing' : 'linear',
                        'queue' : false
                    });
            }, 2000);
        });
        $(document).ajaxStop(function() {
            ajaxInProgress = false;
            $('#ajaxLoader').fadeOut(300);
        });
    });
</script>

{% block mainMenu %}
{{ widget('bootstrap.widgets.TbNavbar',{
    'collapse' : true,
    'items':[
    {
        'class' : 'bootstrap.widgets.TbMenu',
        'items' : [
            {
                'label':'Меню',
                'url':['/sitemenu/adminSitemenu'],
                'active':this.uniqueId == 'sitemenu/adminSitemenu',
                'visible':App.user.checkAccess('admin')
            },
            {
                'label':'Разделы сайта',
                'action' : false,
                'items': [
                    {'label':'Блог новостей', 'url':['/news/adminNews'], 'active':this.uniqueId == '/news/adminNews'},
                    {'label':'removed Секции проектов', 'url':['/projects/adminProjectSection'], 'active':this.uniqueId == '/projects/adminProjectSection'},
                    {'label':'removed Баннеры', 'url':['/banners/adminBanners'], 'active':this.uniqueId == '/banners/adminBanners'},
                    {
                        'label':'Карусель',
                        'url':['/carousel/adminCarousel'],
                        'active':this.uniqueId == '/carousel/adminCarousel'
                    },
                    {
                        'label':'Контентные блоки', 
                        'url':['/contentBlocks/adminContentBlocks'],
                        'active':this.uniqueId == '/contentBlocks/adminContentBlocks',
                        'visible':App.user.checkAccess('admin')
                    },
                    {
                        'label':'Текстовые страницы',
                        'url':['/articles/adminArticles'],
                        'active':this.uniqueId == '/articles/adminArticles',
                        'visible':App.user.checkAccess('admin')
                    },
                ]
            },
            {
                'label':'Пользователи',
                'url':['/system2/adminUsers'],
                'active':this.uniqueId == 'system2/adminUsers',
                'visible':App.user.checkAccess('admin')
            },
            {
                'label':'Настройки',
                'url':['/system2/adminLocalConfig'],
                'active':this.uniqueId == 'system2/adminLocalConfig',
                'visible':App.user.checkAccess('admin')
            },
        ]
    },{
        'class' : 'bootstrap.widgets.TbMenu',
        'htmlOptions' : {'class':'pull-right'},
        'items' : [
            {'label':'Выйти ('~App.user.name~')', 'url':['/site/logout'], 'visible':not App.user.isGuest}
        ]
    }]
}) }}
{% endblock %}

<div class="container" id="page">
    {% block content %}{% endblock %}
</div>

</body>
</html>
